<!-- <p>experiences works!</p> -->
<!DOCTYPE html>
<html>

<head>
    <title>EXPERIENCES</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: aliceblue;
            text-align: center;
        }
        h1 {
            text-align: center;
            padding-left: 32px;
            margin-top: 10px;
            margin-bottom: 10px;
            margin: 0px;
        }
        p {
            text-align: left;
            padding-left: 32px;
            margin: 0px;
        }
        .about-section {
            padding-bottom: 50px;
            text-align: center;
            background-color: #148aa7;
            color: white;
        }
        .btn{
            color:white;
            width:300px;
        }
        .btn:hover{
            background-color: white;
        }
        .nav-link{
            color:white;
        }
    </style>
    <div class="about-section">
        <!-- <div class="text-left">
            <button class="btn"><a href="page.html" class="nav-link">Back to Features</a></button>
        </div> -->
        <h1>LISTEN TO EXPERIENCES</h1><br>
    </div><br>
    <!--  -->
    <div class="image">
        <img src="https://www.verywellmind.com/thmb/Cx3S_qJNPNDNhgsQTTTvLNOXJGo=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/what-to-say-when-someone-is-depressed-1067474_V3_logo-22b8c301bbfb4b40a933574b3225301a-e883f8b2e3d94b9e854ef5a910d46e62.png" style="height: 400px;">
    </div>
    <div class="text">
        <p>1. Sharing your story makes you stronger. Research proves that sharing our painful experiences with others helps improve our health and well-being. It helps to create supportive bonds with others, re-affirming the positive values and lessons gained from life-experiences.</p><br>
        <p>2. Sharing your story is important. Mental illness has a profound impact on the people it affects, often becoming a defining life experience. It would be sad to think that these tough experiences are without meaning, lost without the chance to help others. Every story of mental illness and recovery is fundamental — to both the people who have lived it and to those currently experiencing it.</p><br>
        <p>3. Sharing your story shows recovery is obtainable to others. You can show that recovery is more than just hope. Recovery becomes an achievable goal within everyone’s reach. It is not a story of recovery until you tell someone else.</p><br>
    </div>
    <br>
    <h1 style="background-color:rgb(212, 209, 209); font-family:cursive;font-style: Lucida Handwriting;"><b>"The key point to fight depression is to accept."</b></h1>
    <p style="background-color: rgb(181, 238, 219);">
        I was in std. IX when my dad was Transfered to Sambalpur.<br>
        I had recently lost my best friend, one of the most trusted people of my life. I was in need of a support.
        Everything was new to me. And eventually, I made a huge blunder in choosing friends, probably the biggest
        mistake of my life. They misused my innocence and love what I had for them as persons and exposed me to
        addictions.<br> Thankfully I wasn't taken into it. One of them became a very close friend of mine just to come
        close to and eventually propose a girl who was my close friend. Again I was used. All of this distraction led my
        grades to detoriate. And all of a sudden I lost my maternal grandma, who was my very first inspiration. These
        heartbreaks and trust issues led me into Depression until a guy came to my rescue. He pushed me forward in every
        way he could. And helped me secure 92% in IX. But I didn't recover completely. I wasn't emotionally stable at
        all. Then another guy joined the school and unknowingly became very close. I was inspired by him. I saw a
        different perception of life. His personality was very like my grandma's. And without the knowledge of both me
        and himself, he made me emotionally strong and taught me self worth and confidence, which I lacked during that
        phase. These two guys played a huge role in my recovery and because of them I'm alive. There were times when I
        thought of jumping off the terrace of our 8 storeyed building, cutting my veins,etc. But Everytime I was stopped
        by the visuals of my mom, my grandma, and them. The second guy insisted me to continue with my sports and music,
        which I had almost left during the phase ( I'm a state level Badminton player and swimmer and I'm classically
        trained in vocal and sitar). Yes indeed. Coming back into sports helped me a lot recovering. The key point to
        fight depression is to accept. Confidence automatically vanishes. But acceptance makes the task easier to get it
        back and right.
    </p>
    <br>
    <h1 style="background-color:rgb(212, 209, 209); font-family:cursive;font-style: Lucida Handwriting;"><b>"Be aware of what you're going through."</b></h1>
    <p style="background-color: rgb(181, 238, 219);">Be aware.<br>
        Before Sharing my story.I wanna say why I'm sharing it.
        <br>
        Because of my extreme carelessness attitude, Till now I'm suffering it shouldn't happen to any other person for
        people's knowledge to help someone who take it as chill!... Be aware of what you're going through.
        <br>
        At the age of 15, I lost my father in that time,my thought was I'm going through a sadness. I don't have any
        knowledge about what I'm going through slowly started losing my interest, I don't wanna eat and sleeping
        everytime was my best solutions. In another corner. Being a single mother child, I have to scare leading my
        daily life in our society. I wanna be in more conscious and be a protector of my family. People's around you
        don't know what your family is going through?.. I have to be more responsible.
        <br>
        My mom, didn't understood want I'm going through whenever she saw me, I will be in sleep. After 8 to 10 hours of
        sleep. I will be feeling tired. Still now!!...
        <br>

        After getting my first job, Everything was going good.
        <br>
        But something started not feeling well. In that time, started facing jerks in sleep, severe headaches, unknown
        feelings inside my stomach. I can't able to get back to my normal, my thought leads to killing myself was a best
        option!!!!
        <br><br>

        I was saying myself that, "Many reasons is there to die, but some hope is there live, love and laugh your life".
        <br>
        At the age of 21, I found out that I'm in Depression, my mind refuse, to accept it, in that point. I was
        lackadaisical attitude, never take about it seriously. Even my mother don't have any knowledge that much about a
        mental health.
        <br>
        Even I got rejected by a guy who I loved the most. No one will be there to help you and be with you to share,
        what going inside your mind.
        <br>
        Now I'm struggling alot, I'm fighting myself daily to wake up. Everything because of my carelessness and I never
        took any steps forward to take care of mental illness.
        <br>
    </p><br>
    <h1 style="background-color:rgb(212, 209, 209); font-family:cursive;font-style: Lucida Handwriting;"><b>"It is okay to vocal your depression."</b></h1>
    <p style="background-color: rgb(181, 238, 219);">Drew Farnsworth isn’t very open about his depression, or his attempt at suicide.<br>
        When in college 14 years ago, Farnsworth almost died by suicide, But his roommate found him in time, and that’s
        where everything changed.<br>
        He went to college, got a degree and now owns two businesses. He thanks his family and those around him for
        helping him rise above depression.<br>
        “With the help of my family, many therapists, numerous pharmaceuticals, very good habits and a lot of time, I
        have been able to live a healthy and mostly happy life,” Farnsworth said.<br>
    </p><br>
    <h1 style="background-color:rgb(212, 209, 209); font-family:cursive;font-style: Lucida Handwriting;"><b>"This too shall pass."</b></h1>
    <p style="background-color: rgb(181, 238, 219);">
        Having never had depression before, I never appreciated how insidious it is," says Rene.
        <br>
        Rene had help from his wife, family and friends, GP, a psychologist, a psychotherapist and a psychiatrist. And
        he actively made social activities a priority.
        <br>
        "I attended nearly every social engagement that I could, as talking to other people drew the focus of my
        attention away from my depression," says Rene.
        <br>
        He learnt and practised mindfulness, and found a psychologist that he could see on weekends.
        <br>
        Being patient with his medication also helped.
        <br>
        "The first medication that I got from my psychiatrist didn't work. The second one did."
        <br>
        Rene's experience with depression inspired him to do the Lifeline Telephone Crisis Supporter course.
        <br>
        "I got a lot out of that, and became a volunteer, and still am."
    </p><br>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>
<!-- <div class="circles" style="display: flex;">
    <div class="circle" style="width: 100px;height: 100px;border-radius: 50%;background: #12d82d;">
    </div>
    <div class="circle" style="width: 50px;height: 50px;border-radius: 50%;background: #bfc1c4;">
    </div>
    <div class="circle" style="width: 100px;height: 100px;border-radius: 50%;background: #12d82d">
    </div>
    <div class="circle" style="width: 50px;height: 50px;border-radius: 50%;background: #bfc1c4;;">
    </div>
    <div class="circle" style="width: 100px;height: 100px;border-radius: 50%;background: #12d82d">
    </div>
    <div class="circle" style="width: 50px;height: 50px;border-radius: 50%;background: #bfc1c4;;">
    </div>
    <div class="circle" style="width: 100px;height: 100px;border-radius: 50%;background: #12d82d;">
    </div>
    <div class="circle" style="width: 50px;height: 50px;border-radius: 50%;background: #bfc1c4;;">
    </div>
    <div class="circle" style="width: 100px;height: 100px;border-radius: 50%;background: #12d82d;">
    </div>
    <div class="circle" style="width: 50px;height: 50px;border-radius: 50%;background: #bfc1c4;;">
    </div>
    <div class="circle" style="width: 100px;height: 100px;border-radius: 50%;background: #12d82d;">
    </div>
    <div class="circle" style="width: 50px;height: 50px;border-radius: 50%;background: #bfc1c4;;">
    </div>
    <div class="circle" style="width: 100px;height: 100px;border-radius: 50%;background: #12d82d;">
    </div>
    <div class="circle" style="width: 50px;height: 50px;border-radius: 50%;background: #bfc1c4;;">
    </div>
    <div class="circle" style="width: 100px;height: 100px;border-radius: 50%;background: #12d82d;">
    </div>
    <div class="circle" style="width: 50px;height: 50px;border-radius: 50%;background: #bfc1c4;;">
    </div>
    <div class="circle" style="width: 100px;height: 100px;border-radius: 50%;background: #12d82d;">
    </div>
    <div class="circle" style="width: 50px;height: 50px;border-radius: 50%;background: #bfc1c4;;">
    </div>
    <div class="circle" style="width: 100px;height: 100px;border-radius: 50%;background: #12d82d;">
    </div>
    <div class="circle" style="width: 50px;height: 50px;border-radius: 50%;background: #bfc1c4;;">
    </div>
</div> -->