<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            .about-section{
                text-align: center;
                background-color: #148aa7;
                color: white;
            }
            .card{
                text-align:center;
                margin-left:15px;
                margin-right:15px;
            }
            h1{
                padding-top: 15px;
                padding-left:20px;
            }
            p{
                margin-bottom: 0px;
            }
            body{
                font-family: Arial, Helvetica, sans-serif;
                margin: 0;
            }
        </style>
    </head>
    
    <body>
        <div class="about-section">
            <!-- <div class="navbar navbar-expand-sm bg-dark navbar-dark pb-0 pt-0 py-3" style="
            padding-top: 15px;height:45px;text-align: left; background-color: rgb(68, 57, 57);">
                <a href="#" class="nav-link">Home</a>
            </div> -->
            <h1>About Us</h1>
            <!-- <p>This page contains information about what our website does and how it is helpful.</p-->
            <!-- <a href="homepage.html">Back to Home</a> -->
            <br><br>
        </div>
        
        <h2 style="text-align:center"><br>HEY! HOW CAN WE HELP YOU?<br></h2>
        <div class="row">
            <div class="column">
                <div class="card">
                    <p><br>Depression breakthrough is mental health platform for young people .Our practical support, tools and tips help young people 
                        get through anything from everyday issues to tough times – and the information we offer makes it easier for
                        them to pass through these hard times.</p>
                    <img src="https://www.cdc.gov/mentalhealth/images/MentalHealthHands.jpg"
                        alt="Image" style="width:100%">
                    <div class="container">
                        <div class="features">
                            <div class="div1" style="background-color: rgb(240, 143, 167);color:black;">
                                <br>
                                <p style="margin: 60px;">Feeling down from time to time is a normal part of life, but when emotions such as hopelessness and despair take hold and just won’t go away, you may have depression. More than just sadness in response to life’s struggles and setbacks, depression changes how you think, feel, and function in daily activities. It can interfere with your ability to work, study, eat, sleep, and enjoy life. Just trying to get through the day can be overwhelming.</p>
                                <img src="https://images.theconversation.com/files/311184/original/file-20200121-117938-z3gbjh.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=675.0&fit=crop" width="600px" height="300px">    
                                <br><br>
                            </div>
                            <div class="div2" style="background-color: rgb(178, 228, 98); color: black;">
                                <h1>We are here to help you....</h1>
                                <p>Keeps track of mood.</p>
                                <p>Experiences</p>
                                <p>Music Therapy</p>
                                <p>Meditation Videos</p>
                                <p>Tips from Therapists</p>
                                <br><br>
                            </div>
                        </div>
                        <br>
                        <div class="footer" style="background-color: rgb(172, 170, 165);">
                            <br>
                            <b style="font-size: 30px;">For more suggestions:</b>
                            <p>If you are currently feeling depressed or in a vulnerable situation, please call one of these 24/7 suicide prevention helplines:<br>
                                <br>Please contact below-<br>
                                <br>
                                <b>Bliss Home Helpline</b> : +91 860 266 2345<br>
                                <b>Krishna</b> : +91 22 2754 6669<br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>    
