<!-- <p>tips works!</p> -->
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<body>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            text-align: center;
            background-color: aliceblue;
        }

        p {
            font-family: Arial, Helvetica, sans-serif;
            padding-left: 32px;
            padding-right: 30px;
            text-align: left;
        }

        img {
            padding-left: 150px;
            padding-right: 150px;
            align-content: center;
            text-align: center;
        }

        footer {
            width: 100%;
            padding: 90px;
            background-color: #148aa7;
            color: white;
        }

        .about-section {
            /* padding-top: 50px; */
            padding-bottom: 50px;
            text-align: center;
            background-color: #148aa7;
            color: white;
        }
        .btn{
            color:white;
            width:300px;
        }
        .btn:hover{
            background-color: white;
        }
        .nav-link{
            color:white;
        }
        .card{
            margin-left: 15px;
            margin-right: 15px;
        }
    </style>
    <div class="about-section">
        <!-- <div class="text-left">
            <button class="btn"><a href="page.html" class="nav-link">Back to Features</a></button>  
        </div> -->
        <h1>TIPS</h1>
        <p style="text-align: center">Improve your Mental health.</p>
    </div>
    <br>
    <h2 style="text-align:center">HEY! TAKE A LOOK AT THESE 10 TIPS</h2>
    <div class="row">
        <div class="column">
            <div class="card" style="text-align: center;">
                <p> An important part of keeping fit and healthy is to take care of your own mental health. There are plenty of things you can do to help make sure you keep yourself mentally healthy.</p>
                <div class="image">
                    <img src="https://gumlet.assettype.com/whiteswanfoundation%2F2020-06%2Fec4e37d1-79de-4f41-a352-ec78928a4202%2FImage__117_.jpg?rect=0%2C533%2C5616%2C2106&auto=format%2Ccompress&fit=max&format=webp&w=1366&dpr=1.0" alt="Image is supposed to be here." style="width:50%;">
                </div>
                <div class="container" STYLE="text-align: left;padding-left:32px">
                    <b>1.Take care of your physical health</b>
                    <p>You can stay healthy by eating well, getting adequate rest and exercise. Eating fresh foods rich in vitamin B-12 and Omega 3 fatty acids keep up levels
                        of mood-regulating chemicals in the brain. Getting enough rest for your body helps
                        to heal its daily wear and tear, while lack of sleep c
                        an make you feel tired, stressed and cranky.</p>
                    <br>
                    <b>2. Get fresh air and exposure to sunlight </b>
                    <p>A study has shown that exposure to sunlight increases t
                        he production of serotonin, a chemical that regulates mood in the brain.</p>
                    <br>
                    <b>3.Take care of yourself</b>
                    <p>Investing time in self-care contributes to your mental and emotional wellbeing. Set time aside
                        for yourself; attend to your own emotional needs; read a book; pamper yourself. You
                        could learn to use aspects of mindfulness to relax.</p>
                    <br>
                    <b>4.Pursue a hobby, or a new activity</b>
                    <p>Participating in activities that you enjoy helps you st
                        ay engaged and in turn, happy. Picking up a new skill challenges you, increase
                        s your concentration levels and makes you feel good about learning something n
                        ew. It also increases
                        your confidence in being able to face new situations,
                        challenges and people.</p>
                    <br>
                    <b>5. Identify your strengths, weaknesses, and boundaries
                    </b>
                    <p>Acknowledge your strengths and work on your weaknesses.
                        Accepting that you have some weaknesses just like everyone else is a key to y
                        our mental and emotional wellbeing. Set realistic goals and consciously choose
                        to participate in activities
                        and surround yourself with people who further your goa
                        l rather than distract you.</p>
                    <br>
                    <b>6.Practice Gratitude</b>
                    <p>When you practice gratitude for what you have, it can t
                        ake away focus from what you don’t. Studies show that being grateful for what
                        you have helps you stay optimistic about your future and boosts your mental he
                        alth.</p>
                    <br>
                    <b>7.Express yourself</b>
                    <p>Poorly managed or unregulated emotions can be harmful t
                        o your mental health. You may shy away from expressing emotions or feelings th
                        at you think are ‘negative.’ Being able to express what you’re feeling, what y
                        ou like or don’t like,
                        can help you de-clutter your mind. Suppressing emotions is believed to lead to depression or a
                        nxiety disorders. “Every emotion is important and essential. What makes it hea
                        lthy or unhealthy is the intensity of the experience, and
                        how it was expressed (too much or too little), the app
                        ropriateness of the expression and the frequency of the emotion occurring,” sa
                        ys study.</p>
                    <br>
                    <b>8.Ask for help when you feel overwhelmed</b>
                    <p>When you feel sad, challenged, frustrated, confused, an
                        gry, or just simply overwhelmed and unable to cope, speak to someone you trust
                        – a spouse, friend, parent, sibling or relative. If you think you need even m
                        ore support, reach out
                        to a physician or counselor. The earlier you reach out
                        , the better.</p>
                    <br>
                    <b>9.Spend time with people whose company you enjoy</b>
                    <p> Spending time with people you love and get along with
                        gives you a sense of being valued and appreciated. Having healthy relationship
                        s with your friends, family, colleagues, and neighbors can increase your sense
                        of emotional wellbeing
                        and give you a feeling of connectedness. Have lunch wi
                        th a colleague, or make plans to meet a friend you haven’t spent time with in
                        a while. Spending quality time with someone in person — if this is an option —
                        is often better
                        than using technology to connect with them.</p>
                    <br>
                    <b>10.Manage your stress</b>
                    <p> You, just like everyone else, will have certain trigge
                        rs that cause you stress. You can try to avoid a stressful situation, but when
                        you don’t have a choice but to face the event or person that causes you stres
                        s, you need to find a
                        way to cope with it. “If you know you get stressed by
                        an exam, you must learn how to put exams in perspective and not let them becom
                        e life-defining events for you, because your exams are something you will just have t
                        o face. In
                        some cases, avoiding stress-generating situations may work, but you must be able to
                        differentiate between
                        when you can avoid them and when you cannot. So find your strategy to manage y
                        our stress so that you can take better care
                        of yourself. This could include talking to a friend, b
                        elieving in yourself, reappraising and reinterpreting your situation, meditati
                        ng, going for a walk, listening to music, and exercising, just to name a few,”
                        says Bangalore-based
                        counselor Maullika Sharma.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>