<!-- <p>home works!</p> -->
<html lang="en">
<title>Depression BreakThrough</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<!-- <a href="index.html">Back to home</a> -->
<style>
    body,h1,h2,h3,h4,h5,h6{
        font-family: "Lato", sans-serif
    }
    .w3-bar,h1,button {
        font-family: "Montserrat", sans-serif
    }
    .fa-group,.fa-smile-o {
        font-size: 200px
    }
    .heading{
        text-align: center;
        background:url("https://wallpapercave.com/wp/wp1828779.jpg");
        background-size:cover;
        height: 500px;
    }
    .quote{
        text-align: center;
        background-size:cover;
    }
    .nav-link,.navbar-brand{
        font-size: 20px;
    }
    a{
        text-decoration: none;
    }
</style>
<body>
    <!-- Header -->
    <header class="heading" style="padding:128px 16px">
        <h1 class="w3-margin w3-jumbo">DEPRESSION BREAKTHROUGH</h1>
        <p class="w3-xlarge">WELCOME</p>
        <!--button class="w3-button w3-black w3-padding-large w3-large w3-margintop">Welcome</button-->
    </header>
    <!-- First Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container" style="background-color: rgb(234, 236, 101);">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1><i>'YOU ARE NOT ALONE'</i></h1>
                <h5 class="w3-padding-32">The world health organization has estimated that between 400 and 500 
                    million people across planet suffer from mental health issues.</h5>
                <p class="w3-text-grey">In a given year, many as 1 in 5 people will experience a mental illness
                    in some form.It affects all ages. In some countries as many as 1 in 4 young people 
                    currently have a mental health condition.</p>
            </div>
            <!-- <div class="w3-third w3-center">
                <i class="fa fa-group w3-padding-64 w3-text-cyan"></i>
            </div> -->
        </div>
    </div>
    <!-- Second Grid -->
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>How can we help?</h1>
                <h5 class="w3-padding-32">Our website is for individuals with mood disorder, difficulty 
                    managing anxiety, and for general public to track mental health.</h5>
                <p class="w3-text-grey">What our platform does is it keeps track of our mood, suggests breathing
                    exercises and meditation relaxation techniques.</p>
            </div>
        </div>
    </div>
    <div class="quote w3-panel w3-center w3-leftbar w3-lime">
        <p><i class="w3-serif w3-xlarge">
        <span style="font-size:200px;line-height:0.6em;opacity:0.2">&#10004;</span>
        STAY POSITIVE</i></p>
      </div>
    <!-- Footer -->
    <footer class="w3-container w3-padding-64 w3-center w3-opacity w3-brown">
        <div class="w3-xlarge w3-padding-32">
            <i class="fa fa-facebook-official w3-hover-opacity w3-padding-small">Facebook</i>
            <i class="fa fa-instagram w3-hover-opacity w3-padding-small">Instagram</i>
            <i class="fa fa-twitter w3-hover-opacity w3-padding-small">Twitter</i>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>